<div>
    Add domain: <input type="text" ng-model="newdomain.name" />
    <br/>
    <button type="button" ng-click="add()">Add</button>
</div>

<div ng-hide="domainsLoaded">Loading domains...</div>

<table ng-show="domainsLoaded">
    <tr>
        <th>ID</th>
        <th>Domain</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="domain in domains">
        <td>{{ domain.id }}</td>
        <td>{{ domain.name }}</td>
        <td><a ng-href="#/domains/{{ domain.id }}/edit">Edit</a> | <a ng-click="remove(domain)">Remove</a></td>
    </tr>
</table>
