<!doctype html>
<html lang="en" ng-app="sgApp">
<head>
    <meta charset="utf-8">
    <title>ServerGrove API demo</title>

    <link rel="stylesheet" href="/app/styles/bootstrap.css" />
    <link rel="stylesheet" href="/app/styles/bootstrap-responsive.css" />

    <script src="/app/components/jquery/jquery.min.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-affix.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-button.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/app/components/bootstrap/js/bootstrap-typeahead.js"></script>

    <script src="/app/components/angular/angular.js"></script>
    <script src="/app/components/angular-route/angular-route.js"></script>
    <script src="/app/components/lodash/lodash.js"></script>
    <script src="/app/components/restangular/dist/restangular.js"></script>
    <script src="/app/components/lodash/lodash.js"></script>


    <script src="/app/components/angular-ui-bootstrap/src/accordion/accordion.js"></script>
    <script src="/app/components/angular-ui-bootstrap/src/collapse/collapse.js"></script>
    <script src="/app/components/angular-ui-bootstrap/src/pagination/pagination.js"></script>
    <script src="/app/components/angular-ui-bootstrap/src/progressbar/progressbar.js"></script>
    <script src="/app/components/angular-ui-bootstrap/src/tabs/tabs.js"></script>

    <script src="/app/components/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/app/components/angular-gravatar/src/md5.js"></script>
    <script src="/app/components/angular-gravatar/build/angular-gravatar.js"></script>


    <script src="/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="/controllers.js"></script>
    <script src="/services.js"></script>
    <script src="/app.js"></script>




    <style>
        .typeahead.dropdown-menu { z-index: 200000; }
        .modal-body{overflow-y: inherit;}
        .accordion-inner{overflow-y: inherit;}

    </style>

</head>
<body>



<div class="navbar" ng-controller="MainCtrl">
    <div class="navbar-inner">
        <a class="brand" href="#">
            ServerGrove
            <sub style="font-size: 9px">BETA</sub>
        </a>
        <ul class="nav" ng-show="isAuth">
            <li class="active"><a href="#">Home</a></li>
            <li>
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            My servers
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-hide="loadingServers" ng-repeat="server in servers">
                                <a ui-sref="server_detail" ng-click="selectServer(server.id)">{{ server.hostname }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a ui-sref="timeline">Timeline</a>
            </li>
        </ul>

    </div>
</div>

<div class="container-fluid">







    <div class="row-fluid" ng-controller="MainCtrl">
        <div class="span2" style="padding-top:10px" ng-show="isAuth">

            <div>
                <img gravatar-src="user.email" gravatar-size="48">

                <br/>
                {{ user.first_name }} {{ user.last_name }}
                <br/>
                <a ui-sref="logout" class="btn">Logout</a>
            </div>


            <div ng-controller="TaskManagerCtrl">

                <div ng-repeat="task in tasks">

                    <div>{{ task.title }}</div>
                    <div>
                        <progress percent="task.percent" class="progress-striped active"></progress>
                        <span>cancel</span>
                    </div>

                </div>
            </div>


        </div>
        <div class="span10">

            <ul class="breadcrumb" ng-show="isAuth">
                <li ng-repeat="item in breadcrumbs">
                    <a ui-sref="item.status">{{ item.title }}</a>
                    <span class="divider" ng-show="!$last">/</span>
                </li>
            </ul>

            <div ui-view></div>
        </div>
    </div>
</div>



</body>
</html>